{% load static %}
<style>

* {
	box-sizing:border-box;
}
body {
	margin:0;
    background: linear-gradient(to bottom right, #bbbcd9, #676779);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.youtube-iframe {
    max-height: 100%;
}

.movie-width-container {
    background: #3E3E3E;
}

.recommendations-width-container {
    background: #E5E5E5;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#data-recommended
{
    padding:10px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
}

.movie-container {
    display: flex;
    flex-direction: row;
    padding: 100px;
    color: white;
    max-width: 1200px;
    margin: auto;
}

.movie-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommendations-container {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background: #E5E5E5;
    color: black;
    max-width: 1200px;
    margin: auto;
}

.recommendation-container {
    {#display: flex;#}
    {#flex-direction: column;#}
}

.recommendations {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    gap:56px;
    box-sizing:border-box;
    {#min-width: 0;#}
    {#max-width: 100px;#}
}

.recommendation {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 10%;
    max-width: 300px;
    flex-basis: 100%;
}

.recommendation > img {
    width: 100%;
    margin: auto;
}

.recommendations-container > h1 {
    font-size: 40px;
}


.recommendation-title {
    min-width: 40%;
    {#width: 100%;#}
    height: 50px;
}
.recommendation-title > a {
    font-size: 26px;
    color: black;
    overflow: hidden;
}

.recommendation-title > a:visited {
    font-size: 26px;
    color: black;
}

.movie-title {
    font-size: 50px;
}

.movie-poster {
    height: 390px;
    min-width: 293px;
    display: flex;
}

.movie-poster > img {
    height: 100%;
    margin: auto;
}

.watch-trailer-button {
    width: 150px;
    height: 46px;
    background-color: #CD2F2F;
    border-radius: 5px;
    border-color: transparent;
    color: white;
}

.watch-trailer-button:hover {
  cursor: pointer;
}

/* The Modal (background) */
.trailer-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

<script>
// Get the modal
var modal = document.getElementById("trailer-modal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
function openModal (youtube_url) {
    console.log("opening modal")
    modal = document.getElementById("trailer-modal");
    span = document.getElementsByClassName("close")[0];
    modal.style.display = "block";
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
        var iframe = document.getElementById("youtube-iframe")
        iframe.innerHTML = '';
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
        var iframe = document.getElementById("youtube-iframe")
        iframe.innerHTML = '';
      }
    }
    var iframe = document.getElementById("youtube-iframe")
    iframe.innerHTML = "<iframe width=\"100%\" \
                    height=\"90%\" \
                    src=\"https://www.youtube.com/embed/" + youtube_url + "\"\
                    title=\"Trailer\" \
                    frameborder=\"0\" \
                    allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" \
                    referrerpolicy=\"strict-origin-when-cross-origin\" \
                    allowfullscreen> \
                </iframe>"
    {#iframe.innerHTML="<iframe> </iframe>"#}
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load mathfilters %}
{%  if movie %}
    <body>
    <div class="max-width-container movie-width-container">
        <div class="movie-container">
            <div class="movie-poster">
                <img src="{% static movie.poster %}" alt="Poster Image">
            </div>
            <div class="movie-details">
                <div class="movie-title">{{ movie.data.title }}</div>
                <div>Released: {{ movie.data.release_date }}</div>
                <div>Youth rating: {{ movie.data.ratings.movielens }}</div>
                <div>Rating: {{ movie.data.mpaa }}</div>
                <div>Duration: {{ movie.data.duration }} minutes</div>
                <div>
                    {{ movie.data.description }}
                </div>
                <div class="movie-rating">
                    {% with ''|center:5 as range %}
                    {% for _ in range %}
                      {% if forloop.counter <= movie.data.ratings.movielens %}
                        <i class="fa fa-star"></i>
                      {% elif movie.data.ratings.movielens|sub:forloop.counter < 0.5 and  movie.data.ratings.movielens|sub:forloop.counter > 0 %}
                          <i class="fa fa-star-o"></i>
                      {% elif movie.data.ratings.movielens|sub:forloop.counter > 0.5 and movie.data.ratings.movielens|sub:forloop.counter < 1 %}
                          <i class="fa fa-star-half-full"></i>
                      {% elif forloop.counter > movie.data.ratings.movielens %}
                        <i class="fa fa-star-o"></i>
                      {% endif %}
                    {% endfor %}
                    {%  endwith %}
                </div>
                <div>
                    <button onclick="openModal('{{ movie.data.trailer_url }}')" class="watch-trailer-button" type="button">Watch trailer</button>
                </div>
            </div>

        </div>
    </div>
    <div class="max-width-container recommendations-width-container">
        <div class="recommendations-container">
            <h1>Recommendations</h1>
            {% include "recommender/recommendations_tile.html" with title="Manhattan Distance (ratings)" recommendations=recommendations.manhattan %}
            {% include "recommender/recommendations_tile.html" with title="Jaccard Tags" recommendations=recommendations.jaccard_tags %}
            {% include "recommender/recommendations_tile.html" with title="Jaccard Genres" recommendations=recommendations.jaccard_genres %}
            {% include "recommender/recommendations_tile.html" with title="Cosine Ratings + Jaccard Genres" recommendations=recommendations.cosine_jaccard %}
            {% include "recommender/recommendations_tile.html" with title="Cosine Descriptions" recommendations=recommendations.cosine_descriptions %}
        </div>
    </div>
    <!-- The Modal -->
    <div id="trailer-modal" class="trailer-modal">
 
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="youtube-iframe" class="youtube-iframe">

            </div>
        </div>

    </div>
</body>
    {% else %}
    Given Movie ID does not exist.
{%  endif %}
